/* Nicholas Schuster */

/* --------------- ADD CSS RESET TO THE FILE HERE --------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- AUTOPREFIXER FOR VS CODE WAS USED FOR VENDOR PREFIXES ----- */
/* ---------- VARIABLES ---------- */
:root {
    --red: #760029;
    --pink: #9a0093;
    --orange: #ff8f6c;
    --yellow: #FCD30D;
    --green: #0BD996;
    --lime-green: #AED90B;
    --blue-gray: #90b8f7;
    --blue: #1EB8FC;
    --black: #000;
    --white: #fff;
    --light-gray: #eaeaea;
    --dark-gray: #222;
}

/* ---------- GLOBAL STYLES ---------- */
* {
    box-sizing: border-box;
    line-height: 1.35;
}

/* ----- HEADINGS ----- */
h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
    display: inline;
}

h2 {
    font-size: 1.75em;
    display: inline;
}

/* ----- IMAGES ----- */
img {
    display: block;
    max-width: 100%;
    margin: 0.5em 0;
}

/* ----- MAIN/HEADER/FOOTER ----- */
main, header, footer {
    font-family: sans-serif;
    color: var(--dark-gray);
    width: 100%;
}

header, footer {
    padding: 1em;
    background-color: var(--pink);
    color: var(--white);
}

main {
    max-width: 1795px;
}

/* ----- SECTION STYLES ----- */
section {
    margin: 1em 0;
    padding: 1em;
    background-color: var(--red);
    color: var(--light-gray);
}

/* ---------- MEDIA QUERIES ---------- */
@media (max-width: 600px) {
    header, footer {
        background-color: var(--lime-green);
        color: var(--dark-gray);
    }

    section {
        background-color: var(--yellow);
        color: var(--dark-gray);
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
}

@media (min-width: 900px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

